home: 5280 Fiore Terrace, San Diego, CA 92122
locations:
  - Lego Store: 4545 La Jolla Village Dr, San Diego, CA 92122
  - Mount Soledad: 6905 La Jolla Scenic S Dr, La Jolla, CA 92037
  - Kellogg Park: 8277 Camino Del Oro, La Jolla, CA 92037
  - Children's Pool La Jolla: 834 Coast S Blvd, La Jolla, CA 92037
  - Fiesta Island: 1590 E Mission Bay Dr., San Diego, CA 92109
  - Point Loma Tide Pools: 1800 Cabrillo Memorial Dr, San Diego, CA 92106
  - San Diego International Airport: 3225 N Harbor Dr, San Diego, CA 92101
  - Torrey Pines Gliderport: 2800 Torrey Pines Scenic Dr, La Jolla, CA 92037
  - Scripps Research: 10550 N Torrey Pines Rd, La Jolla, CA 92037
  - Blacks Beach Trailhead: 9601 La Jolla Farms Rd, La Jolla, CA 92037
  - Birch Aquarium: 2300 Expedition Way, La Jolla, CA 92037
  - Torrey Pines Beach Parking: 1800 McGonigle Rd, San Diego, CA 92014
  - Roberto's Mexican Food, Del Mar: 2206 Carmel Valley Rd, Del Mar, CA 92014
  - Del Mar Fairgrounds: 2260 Jimmy Durante Blvd, Del Mar, CA 92014
  - Powerhouse Park: 1658 Coast Blvd, Del Mar, CA 92014
  - San Diego Zoo: 2920 Zoo Dr, San Diego, CA 92101
  - San Diego Zoo Safari Park: 15500 San Pasqual Valley Rd, Escondido, CA 92027

